pip~=21.1.2
wheel~=0.36.2
MarkupSafe~=2.1.0
Werkzeug~=2.0.3
Jinja2~=3.0.3
click~=8.0.4
itsdangerous~=2.1.0
WTForms~=3.0.1
greenlet~=1.1.2
waitress~=2.1.2
Flask~=2.0.3
setuptools~=57.0.0
SQLAlchemy~=1.4.37
Flask-SQLAlchemy~=2.5.1
Flask-Login~=0.6.1
Flask-WTF~=1.0.1
Flask-CKEditor~=0.4.6
Markdown~=3.4.1