@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Style */

body {
  widows: 100%;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    rgb(71, 66, 66),
    #332c2c,
    #2e3436,
    #141a18
  );
  background-size: 400% 400%;
  position: relative;
  animation: bgcolor 10s ease-in-out infinite;
  
}

@keyframes bgcolor {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* Header with grids: |title|dynmap redirect|something else| */

.redHeader {
  border: 2px outset darkred;
  background-color: darkred;
}

h1, a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  background-color: #1e2727;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5px 6%;
  background-color: #1e2727;
}

/* the h1 that is within header */
header h1 {
  padding: 0px 40px;
  margin-top: 10px;
}

/* Main stuff Style */

.projectsSection {
  margin: 20px;
  padding-bottom: 30px;
  border-radius: 5px;
  background-color: white;
  opacity: .7;
}

.projectsTitle {
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  padding-left: 5%;
}

/* Project Oryx Page*/

.project {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

.projectDescription {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

.devImage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  width: 50%;
}