{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='scss/blog.css') }}">

{% endblock %}

{% block body %}
    <div class="blog">
        <div class="entriesContainer">
            {% for entry in entries %}
            <details class="entryContainer">
            <summary class="entryHeader">
                    <h2 class="blogTitle">{{ entry.title }} <p class="divider"> | </p>{% if entry.tag == 'General' %}<p class="tag" style="color: dodgerblue">{{entry.tag}}</p>{% endif %}{% if entry.tag == 'Review' %}<p class="tag" style="color: darkred">{{ entry.tag }}</p>{% endif %}{% if entry.tag == 'DevLog' %}<p class="tag" style="color: green">Dev Log</p>{% endif %}</h2>

                    <h3 id="entryDate">{{ entry.date_created.date()  }}</h3>
            </summary>
                <div class="entryContent">
                    {{ entry.content|safe }}
                </div>
                <div class="entryBottom"></div>
            </details>
            {% endfor %}
        </div>
        <div class="filterContainer" id="filterContainer">
            <form action="/blog" method="GET">
                <input type="submit" value="No Filtering">
                </form>
                <form action="/blog/General" method="GET">
                    <input type="submit" value="General">
                </form>
                <form action="/blog/DevLog" method="GET">
                    <input type="submit" value="Dev Log">
                </form>
                <form action="/blog/Review" method="GET">
                    <input type="submit" value="Review">
            </form>
        </div>
    </div>


{% endblock %}