<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='scss/blogWriter.css') }}">
  <title>Entry Writer</title>
</head>
<body>

    <h2>Blog Writer -ALPHA-</h2>
    <form action="/entrywriter" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">

        <label for="blogContent">Blog Content</label>
        {{ ckeditor.load() }}
        {{ ckeditor.create() }}
        {{ ckeditor.config(width=500) }}

        <label for="tag">Select Tag</label>
        <select name="tag" id="tag">
            <option value="general">General</option>
            <option value="dev">Dev Log</option>
            <option value="review">Review</option>
        </select>

        <input type="submit" value="Sumbit Blog entry">
    </form>

    <h2>Edit a post</h2>
    <table>
        <tr>
            <th>Entries</th>
            <th>added</th>
            <th>Actions</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.content }}</td>
            <td>{{ entry.date_created.date() }}</td>
            <td>
                <a href="/entrywriter/delete/{{ entry.id }}">Delete</a>
                <br>
                <a href="/entrywriter/update/{{ entry.id }}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>


</body>
</html>