{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='scss/style.css') }}">
{% endblock %}

{% block body %}
<main>
    <div class="projectContainer">
        {% for project in projects %}
        <details class="dropdown">
            <summary class="dropdownHeader">{{ project.title }}</summary>
            <div class="bodyContainer">
                <div class="projectBody">{{ project.description | safe }}</div>
                <a href="https://github.com/Kirugaming/pyBattle">
					<img src="../static/images/svg/github-brands.svg" alt="GitHub Logo">
					<p>GitHub Project Link</p>
				</a>
            </div>


            <div class="projectBottom"></div>
        </details>
        {% endfor %}

        <details class="dropdown">
            <summary class="dropdownHeader">Future Projects!</summary>
            <div id="futureBody">
            <p>I have many more projects yet to come, so check back regularly!</p>
            </div>
            <div class="projectBottom"></div>
        </details>
    </div>
</main>

{% endblock %}
