/* Variables */


/* Mixins */
@mixin dropdownFunction($displayType) {
  display: $displayType;
  pointer-events: all;
  transform: translateY(0px);
}
@font-face {
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
    font-family: Roboto, sans-serif;
  }

  * {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Body Style */
  a:link, a:visited {
    text-decoration: none;
  }
  /* navbar */
@import "header";

body {
  background-image: url("../images/johto.gif");
  background-size: cover;
  background-attachment: fixed;
}

.blog {
  display: flex;

  .filterContainer {
    float: right;
    margin-top: 1em;
    margin-left: 6em;
    margin-right: 4em;
    text-align: center;

    form {
      padding-top: 1em;
      justify-content: center;

      input {
        padding: 0.3em 1em;
        text-decoration: none;
        text-align: center;
      }
    }
  }

  .entriesContainer {
    width: 100%;
    .entryContainer{
      width: 100%;
      margin-top: 1em;
      margin-left: 2em;
      margin-right: 2em;
      min-width: 100px;
      .entryHeader {
        display: flex;
        background-color: #003b3b;
        padding: 15px 1em 15px;
        border-radius: 10px;
        justify-content: space-between;

        .blogTitle {
          display: flex;
          color: white;
          margin-left: 1em;
          justify-content: space-evenly;
          font-size: 1.5em;
          .divider {
            color: white;
            margin-left: 2em;
          }
          .tag {
            margin-left: 2em;

          }

        }
        #entryDate {
          float: right;
          color: white;
        }
      }
      .entryContent {
        background-color: white;
        margin-top: -.5rem;
        padding: 1em;
      }
      .entryBottom {
        margin-top: -0.5em;
        padding-bottom: 1em;
        background-color: white;
        border-radius: 5px;
      }

    }

  }

}