body {

    height: 100vh;
    background: linear-gradient(
      -45deg,
      rgb(71, 66, 66),
      #2c2929,
      #2e3436,
      #141a18
    );
    background-size: 400% 400%;
    position: relative;
    animation: backroundColor 10s ease-in-out infinite;
  }
  @keyframes backroundColor {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  .redHeader {
    border: 2px outset darkred;
    background-color: darkred;
  }

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1e2727;
    padding-top: .5em;
    padding-bottom: .5em;

    .navLogo {
      margin-left: 4em;

      img {
        float: left;
      }
      h1 {
        padding-top: 4px;
        float: left;
        color: white;
      }
    }

    .myRedirects {

      h1 {
        float: left;
        color: white;
        padding-top: 4px;
      }

      p {
        color: white;
        float: left;
        font-size: 1.7em;
        margin-left: .5em;
        margin-right: .5em;
      }

      .githubLink {
        margin-right: 4em;
        float: left;
        img{
          width: 2em;
          /* for svg file i guess you have to use filter to change the color */
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%);
          margin-right: .1em;
        }
        h1 {
          float: right;
          color: white;
          padding-top: 4px;
        }
      }
    }

  .compressedRedirects {
    float: right;
    margin-right: 4em;
    display: none;

    .dropdownButton {
      background-color: #1e2727;
      width: 2em;
      border: none;
      cursor: pointer;

      img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%);
      }
    }

    .dropdownContent {
      position: fixed;
      right: 4rem;
      padding: .5rem;
      background-color: #1e2727;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      border-radius: 5px;
      z-index: 1;

      a{
        text-align: right;
        font-size: 1.5em;
        padding-bottom: .5em;
        display: flex;
        color: white;
      }
    }
  }
}

footer {
  margin-top: 2.1em;
  text-align: center;
  background-color: #1e2727;
}



.show {
  display: block;
}

.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav {
    .navLogo {
      margin-left: .5em;
    }
    .githubLink {
      margin-right: .5em;
    }

    .myRedirects {
      display: none;
    }

    .compressedRedirects {
      display: block;
      margin-right: 1em;

      .dropdownContent {
        right: 1rem;
      }
    }

  }
}