/* Variables */


/* Mixins */
@mixin dropdownFunction($displayType) {
  display: $displayType;
  pointer-events: all;
  transform: translateY(0px);
}

@font-face {
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-family: Roboto, sans-serif;
  }
  
  * {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Body Style */
  a:link, a:visited {
    text-decoration: none;
  }
  
  body {

    height: 100vh;
    background: linear-gradient(
      -45deg,
      rgb(71, 66, 66),
      #332c2c,
      #2e3436,
      #141a18
    );
    background-size: 400% 400%;
    position: relative;
    animation: backroundColor 10s ease-in-out infinite;
    
  }
  @keyframes backroundColor {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  .redHeader {
    border: 2px outset darkred;
    background-color: darkred;
  }
  /* navbar */
@import "header";

@import "mainArticles";
  
  #dropdown:checked ~ .pyBattleSection {
    @include dropdownFunction(inline-grid);
  }
  
  #dropdown:checked ~ .pyBattleBottom {
    @include dropdownFunction(flex);
  }
  
  #dropdown2:checked ~ .dropdownSection {
    @include dropdownFunction(flex);
  }
  #dropdown2:checked ~ .bottomSection {
    @include dropdownFunction(flex);
  }

  footer {
    margin-top: 2.1em;
    text-align: center;
    background-color: #1e2727;
  }
  
  @media only screen and (max-width: 600px) {
    /* header navbar */
    nav {
      .navLogo {
        margin-left: .5em;
      }
      .githubLink {
        margin-right: .5em;
      }
    }
    .articleContainer {
      label {
        text-align: center;
        padding: 1em 1em 1em 1em;
      }
      .pyBattleSection{
        grid-template-columns: auto;
      }
    }
  }
  