/* Variables */


/* Mixins */
@mixin dropdownFunction($displayType) {
  display: $displayType;
  pointer-events: all;
  transform: translateY(0px);
}

@font-face {
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-family: Roboto, sans-serif;
  }
  
  * {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Body Style */
  a:link, a:visited {
    text-decoration: none;
  }
  /* navbar */
@import "header";

@import "mainArticles";

  footer {
    margin-top: 2.1em;
    text-align: center;
    background-color: #1e2727;
  }
  
  @media only screen and (max-width: 600px) {
    /* header navbar */
    nav {
      .navLogo {
        margin-left: .5em;
      }
      .githubLink {
        margin-right: .5em;
      }
    }
    .articleContainer {
      label {
        text-align: center;
        padding: 1em 1em 1em 1em;
      }
      .pyBattleSection{
        grid-template-columns: auto;
      }
    }
  }
  